.gradle
/local.properties
build/
.DS_Store
/captures
.externalNativeBuild
.cxx

# IntelliJ .idea folder
.idea/workspace.xml
.idea/misc.xml
.idea/libraries
.idea/caches
.idea/navEditor.xml
.idea/tasks.xml
.idea/modules.xml
.idea/compiler.xml
.idea/jarRepositories.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/vcs.xml
.idea/deploymentTargetDropDown.xml
*.iml